image: Visual Studio 2017
version: 0-{branch}-{build}
platform: Any CPU

configuration: Debug
build_script:
  - nuget restore -Verbosity quiet
  #- msbuild /t:restore
  - msbuild /p:configuration=%configuration% /p:DeployExtension=false /p:ZipPackageCompressionLevel=normal /v:m

# here we are going to override common configuration
for:

# override settings for `master` branch
-
  branches:
    only:
      - master
  #skip_non_tags: true
  configuration: Release
  #version: 2.0.1.{build}
  install:
    - ps: (new-object Net.WebClient).DownloadString("https://raw.github.com/denis-peshkov/ExtensionScripts/master/AppVeyor/vsix.ps1") | iex
  before_build: 
    - ps: Vsix-IncrementVsixVersion -initialVersion 2.1.0.0 -updateVsixCsVersion | Vsix-UpdateBuildVersion
  after_test:
    - ps: Vsix-PushArtifacts | Vsix-PublishToGallery

